<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="all" [(ngModel)]="selectedRadio" (change)="onselectedRadioUpdateToParent()"/>
    <span>{{'All('+all+')'}}</span>

    <input type="radio" name="filter" value="true" [(ngModel)]="selectedRadio" (change)="onselectedRadioUpdateToParent()"/>
    <span>{{'In Stock('+inStock+')'}}</span>

    <input type="radio" name="filter" value="false" [(ngModel)]="selectedRadio" (change)="onselectedRadioUpdateToParent()"/>
    <span>{{'Out Stock('+outStock+')'}}</span>
</div>
