<div class="ekart-product-container">
    <!-- <img [src]="products.pImage"/>
    <p>Name: {{products.name}}</p>
    <p>color: {{products.color}}</p>
    <p>Price: ${{products.price}}</p>
    <p>Discounted price: ${{discount_price()}}</p>
    <p>{{products.stock>0 ? products.stock+ " products left": "No stock"}}</p>
    <button [disabled]="products.stock<0">Buy Now</button><br>
    <button (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incremCartValue()">+</button> -->
    <app-search (sendingSearchText)="fromSearch($event)"></app-search>
    <!-- <div *ngFor="let i of listStrings">
        <p>{{i}}</p>
    </div> -->
    <app-product-list [searchTextis]="theSearchText" #productListComponent></app-product-list>
    <app-product-details *ngIf="productListComponent.selectedProduct" [product_list_comp]="productListComponent"></app-product-details>
    <div class="ekart-featured-products">
        <div class="ekart-featured-product-heading">
            <h1>Latest Arrival in Popular Brands</h1>
        </div>
        <app-featured-brands>
             <h1 class="title">New Arrivals in Nike</h1>
             <button class="call-to-action">Learn More about Nike</button>
        </app-featured-brands>
        <app-featured-brands>
             <h1 class="title">New Arrivals in Adidas</h1>
             <button class="call-to-action">Learn More about Adidas</button>
        </app-featured-brands>
        <app-featured-brands>
             <h1 class="title">New Arrivals in Fester</h1>
             <button class="call-to-action">Learn More about Fester</button>
        </app-featured-brands>
    </div>
</div>