<div class="ekart-product-container">
    <!-- <img [src]="products.pImage"/>
    <p>Name: {{products.name}}</p>
    <p>color: {{products.color}}</p>
    <p>Price: ${{products.price}}</p>
    <p>Discounted price: ${{discount_price()}}</p>
    <p>{{products.stock>0 ? products.stock+ " products left": "No stock"}}</p>
    <button [disabled]="products.stock<0">Buy Now</button><br>
    <button (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incremCartValue()">+</button> -->
    <app-search (sendingSearchText)="fromSearch($event)"></app-search>
    <!-- <div *ngFor="let i of listStrings">
        <p>{{i}}</p>
    </div> -->
    <app-product-list [searchTextis]="theSearchText"></app-product-list>
</div>