<app-filter [all]="totalNumberOfProducts" [inStock]="totalProductsInStock" [outStock]="totalProductsOutStock" (selectedRadioUpdateToParent)="onFilter_func($event)"></app-filter>
<div class="ekart--products--container">
    <!-- *ngIf="selectedRadioBtn==='all'|| prod.is_in_inventory.toString()===selectedRadioBtn|| prod.is_in_inventory.toString()===selectedRadioBtn" -->
    <ng-container *ngFor="let prod of products">
    <app-product 
    [product_obj]="prod" 
    *ngIf="searchTextis===''||prod.name.toLowerCase().includes(searchTextis)"
    (click)="selectedProduct=prod"></app-product>
    </ng-container>
</div>